.anchorPane {
    -fx-background-color: #000000;
    -fx-border-color: #BA8E23;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 6px;
    -fx-background-radius: 5px;
}

.Label {
    -fx-text-fill: #FFFFFF;
}

.tableView {
    -fx-border-color: #BA8E23;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-radius: 2px;
    -fx-background-radius: 5px;
}

.btnClose {
    -fx-background-color: transparent;
    -fx-text-fill: #BA8E23;
    -fx-border-color: #BA8E23;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-padding: 6px 20px;
}
